
.Hero {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
}


.subHero {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
  /* flex-direction: column-reverse; */
  --chakra-space-y-reverse: 1;
  --chakra-divide-y-reverse: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  /* justify-content: center; */
  min-height: 500px;
  padding-inline-start: var(--chakra-space-8);
  padding-inline-end: var(--chakra-space-8);
  margin-bottom: var(--chakra-space-16);
}


.textInfo {
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}


.textHeader{
  text-align: left;
  font-size: var(--chakra-fontSizes-7xl);
  line-height: 1;
  font-family: var(--chakra-fonts-heading);
}


.textHeader2 {
  text-align: left;
  font-size: var(--chakra-fontSizes-3xl);
  font-family: var(--chakra-fonts-heading);
  font-weight: var(--chakra-fontWeights-normal);
  line-height: 1.5;
}


.heroRegisterBtn {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  font-weight: var(--chakra-fontWeights-semibold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: var(--chakra-sizes-10);
  min-width: var(--chakra-sizes-10);
  font-size: var(--chakra-fontSizes-md);
  color: var(--chakra-colors-white);
  border-radius: 8px;
  padding-top: var(--chakra-space-4);
  padding-bottom: var(--chakra-space-4);
  padding-inline-start: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  line-height: 1;
}



.watchImage{
    width: 1%;
    margin-bottom: 0px;
}


/* .watchImg{
  border-radius: 1rem;
  box-shadow: var(--chakra-shadows-2xl);
  border-style: none;
} */



.lowerHero {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.tiles{
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;
}




.pageImg{
  border-radius: 1rem;
  box-shadow: var(--chakra-shadows-2xl);
  border-style: none;
  width: 300px;
  height: 300px;
}